<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Приветствие</title>
</head>
<body>
<form action="{{ url_for('hello.index') }}" method="get">
    <p>Имя: <input type=text name=username></p>
    <p>Пол:<br>
        <input type=radio name=gender value=w>Ж<br>
        <input type=radio name=gender value=m>M
    </p>
    Образовательная программа:
    <select name=program>
        {% for i in range(len(program_list)) %}
            <option value={{ i }}>{{ program_list[i] }}</option>
        {% endfor %}
    </select>
    <p>
        Выберите дисциплины, которые Вы изучаете:<br>
        {% for i in range(len(subject_list)) %}
            <input type=checkbox name=subject[] value={{ i }}>
            {{ subject_list[i] }}<br>
        {% endfor %}
    </p>
    <p>
        Отметьте олимпиады и конкурсы, в которых Вы участвовали:<br>
        {% for i in range(len(olimpiad_list)) %}
            <input type=checkbox name=olimpiads[] value={{ i }}>
            {{ olimpiad_list[i] }}<br>
        {% endfor %}
    </p>
    <p><input type=submit value=Отправить></p>
</form>
</body>
</html>