<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Олимпиада</title>
</head>
<body>
<img src="/static/img.png">
<p><b>{{ olim }}</b> - это {{ description }}</p>
<p><input name=action onclick="history.back()"
          type=submit value="Вернуться"/>
</p>
</body>
</html>