{% from 'macros.jinja2' import render_menu %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Книги</title>
</head>
<body>
{{ render_menu(1) }}
</body>
</html>