<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/CSS/style.css"/>
    <title>Книги</title>
</head>
<body>
<div class=menu>
    <ul>
        <li><a href={{ url_for("index") }}>Читатель</a></li>
        <li class=active><a href={{ url_for('book') }}>Книги</a></li>
        <li><a href={{ url_for('statistics') }}>Статистика</a></li>
    </ul>
</div>
</body>
</html>