{% from 'macros.jinja2' import render_menu, render_readers, render_table %}

<!DOCTYPE HTML>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"/>
    <title>Карточка читателя</title>
</head>
<body>
{{ render_menu(0) }}
<div class="block">
    <form action="" method="get">
        {{ render_readers(combo_box, reader_id, len) }}
        <input type="submit" value="Найти">
    </form>
    
    <form action="{{ url_for('new_reader.index') }}" method="get">
        <input type="submit" value="Новый читатель">
    </form>

    {{ render_table('Карточка', ('Название', 'Авторы', 'Дата выдачи', 'Дата возврата'), book_reader, 'book_reader_id', len) }}

    <form action="{{ url_for('search.index') }}" method="get">
        <input type="submit" value="Взять книгу">
    </form>
</div>
</body>
</html>