{% import 'macros.jinja2' as macros %}

<!DOCTYPE HTML>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"/>
    <title>Карточка читателя</title>
</head>
<body>
<div class="menu">
    <ul>
        <li class="active">
            <a href={{ url_for('index.index') }}>Читатель</a>
        </li>
        <li>
            <a href={{ url_for('book.index') }}>Книги</a>
        </li>
        <li>
            <a href={{ url_for('statistics.index') }}>Статистика</a>
        </li>
    </ul>
</div>
<div class="block">
    <form action="" method="get">
        Читатель: {{ macros.render_readers(combo_box, reader_id, len) }}
        <input type="submit" value="Найти">
    </form>

    <!-- Пока страница не создана, не указывать ее в action -->
    <form action="{{ url_for('new_reader.index') }}" method="get">
        <input type="submit" value="Новый читатель">
    </form>

    {{ macros.render_table('Карточка', book_reader, 'book_reader_id', len) }}

    <form action="{{ url_for('search.index') }}" method="get">
        <input type="submit" value="Взять книгу">
    </form>
</div>
</body>
</html>