<!DOCTYPE html>
{% macro render_table(table_name, header, data, id, len) %}
    <p>
        <b>{{ table_name }}</b>
    </p>
    <table>
        <tr style="background-color: rgb(242, 242, 242);">
            {% for name in header %}
                <th>{{ name }}</th>
            {% endfor %}
        </tr>
        <tbody>

        {% for i in range(len(data)) %}
            <tr>
                {% for record in data %}
                    <td>
                        {% if not data[i][3] %}
                            <form action="" method="get">
                                <input type="hidden" name="return" value="{{ data[i][4] }}">
                                <input type="submit" value="Сдать">
                            </form>
                        {% else %}
                            {{ data[i][3] }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_readers(readers, reader_id, len) %}
    <select name="reader" required>
        {% for reader in readers %}
            <option value="{{ reader[0] }}"
                    {% if reader[0] == reader_id %}selected{% endif %}>{{ reader[1] }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro render_filters(name, categories, selected, len) %}
    <fieldset>
        <legend>{{ name }}</legend>
        {% for category in categories %}
            <div class="checkbox-wrapper">
                <input type="checkbox"
                       name="{{ categories[0] }}"
                       value="{{ categories[i][categories[0]] }}"
                       {% if id_r in selected %}checked{% endif %}>
                <label>
                    {{ categories[i][categories[1]] }} ({{ categories[i][categories[2]] }})
                </label>
            </div>
        {% endfor %}
    </fieldset>
{% endmacro %}

{% macro render_cards(card, len) %}
    {% for i in range(len(card)) %}
        <div class="card">
            {% for name in card %}
                <p>{{ name }}: <b>{{ card[i][name] }}</b></p>
            {% endfor %}
            <div class="button-wrapper">
                <form action="{{ url_for('index.index') }}" method="get">
                    <input type="submit"
                           value="Выбрать"
                           {% if card[i]['Количество'] == 0 %}disabled{% endif %}>
                    <label>
                        <input hidden type="text" name="book" value="{{ card[i]['ID'] }}">
                    </label>
                </form>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro render_selected(relation, sel, name, len) %}
    {% if sel %}
        <p>{{ name }}:
            {% for i in range(len(relation)) %}
                {% set id_r = relation.loc[i, relation.columns[0]] %}
                {% if id_r in sel %}
                    {% if id_r == sel[-1] %}
                        {{ relation.loc[i, relation.columns[1]] }}.
                    {% else %}
                        {{ relation.loc[i, relation.columns[1]] }},
                    {% endif %}
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endmacro %}

{% macro render_menu(selected) %}
    <div class="menu">
        <ul>
            <li {% if selected == 0 %}class="active"{% endif %}>
                <a href={{ url_for('index.index') }}>Читатель</a>
            </li>
            <li {% if selected == 1 %}class="active"{% endif %}>
                <a href={{ url_for('book.index') }}>Книги</a>
            </li>
            <li {% if selected == 2 %}class="active"{% endif %}>
                <a href={{ url_for('statistics.index') }}>Статистика</a>
            </li>
        </ul>
    </div>
{% endmacro %}
