<!DOCTYPE html>
{% macro render_table(table_name, header, data, id, len) %}
    <p>
        <b>{{ table_name }}</b>
    </p>
    <table>
        <tr style="background-color: rgb(242, 242, 242);">
            {% for name in header %}
                <th>{{ name }}</th>
            {% endfor %}
        </tr>
        <tbody>

        {% for record in data %}
            <tr>
                {% for i in range(len(header)) %}
                    <td>
                        {% if header[i] == 'Дата возврата' and not record[i] %}
                            <form action="" method="get">
                                <input type="hidden" name="return" value="{{ record[4] }}">
                                <input type="submit" value="Сдать">
                            </form>
                        {% else %}
                            {{ record[i] }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_readers(readers, reader_id, len) %}
    <label>
        Читатель:
        <select name="reader" required>
            {% for reader in readers %}
                <option value="{{ reader[0] }}"
                        {% if reader[0] == reader_id %}selected{% endif %}>{{ reader[1] }}</option>
            {% endfor %}
        </select>
    </label>
{% endmacro %}

{% macro render_filters(name, names, filters, selected_filters, len) %}
    <fieldset>
        <legend>{{ name }}</legend>
        {% for filter in filters %}
            <div class="checkbox-wrapper">
                <input type="checkbox"
                       name="{{ names[0] }}"
                       value="{{ filter[0] }}"
                       {% if filter[0] in selected_filters %}checked{% endif %}>
                <label>
                    {{ filter[1] }} ({{ filter[2] }})
                </label>
            </div>
        {% endfor %}
    </fieldset>
{% endmacro %}

{% macro render_cards(cards, names, len) %}
    {% for card in cards %}
        <div class="card">
            {% for i in range(len(names)) %}
                <p>{{ names[i] }}: <b>{{ card[i] }}</b></p>
            {% endfor %}
            <div class="button-wrapper">
                <form action="{{ url_for('index.index') }}" method="get">
                    <input type="submit"
                           value="Выбрать"
                           {% if card[5] == 0 %}disabled{% endif %}>
                    <label>
                        <input type="hidden" name="book" value="{{ card[6] }}">
                    </label>
                </form>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro render_selected_filters(filters, selections, name, len) %}
    {% if selections %}
        <p>{{ name }}:
            {% for filter in filters %}
                {% if filter[0] in selections %}
                    {{ filter[1] }}{% if filter[0] != selections[-1] %},{% else %}.{% endif %}&nbsp;
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endmacro %}

{% macro render_menu(selected) %}
    <div class="menu">
        <ul>
            <li {% if selected == 0 %}class="active"{% endif %}>
                <a href={{ url_for('index.index') }}>Читатель</a>
            </li>
            <li {% if selected == 1 %}class="active"{% endif %}>
                <a href={{ url_for('book.index') }}>Книги</a>
            </li>
            <li {% if selected == 2 %}class="active"{% endif %}>
                <a href={{ url_for('statistics.index') }}>Статистика</a>
            </li>
        </ul>
    </div>
{% endmacro %}
