{% import "macros.jinja2" as macros %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Новый читатель</title>
</head>
<body>
<div class="menu">
    <ul>
        <li class="active">
            <a href="/">Новый читатель</a>
        </li>
    </ul>
</div>
<div class=block>
    <form action="{{ url_for('index.index') }}" method="get">
        <label>
            Имя читателя:
            <input type="text" name="new_reader" required>
        </label>
        <input type="submit" value="Добавить читателя">
        <input type="button" onclick="window.location='{{ url_for('index.index') }}'" value="Отменить">
    </form>
</div>
</body>
</html>