{% from 'macros.jinja2' import render_filters, render_cards, render_selected %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
<div class="menu">
    <ul>
        <li class="active">
            <a href="/">Поиск книг</a>
        </li>
    </ul>
</div>
<div class="content">
    <div class="lists">
        <form action="" method="post">
            {{ render_filters('Жанры', genres, sel_genres, len) }}
            {{ render_filters('Авторы', authors, sel_authors, len) }}
            {{ render_filters('Издательства', publishers, sel_publishers, len) }}
            <br>
            <input type="submit" value="Найти">
            <input type="submit" name="clear" value="Очистить">
        </form>
    </div>
    <div class="result">
        <form action="{{ url_for('index.index') }}" method="get">
            <input type="button" onclick="window.location='{{ url_for('index.index') }}'" value="Не выбирать книгу">
        </form>
        <div class="chosen">
            {{ render_selected(genres, sel_genres, 'Жанры', len) }}
            {{ render_selected(authors, sel_authors, 'Авторы', len) }}
            {{ render_selected(publishers, sel_publishers, 'Издательства', len) }}
        </div>
        <div class="cards">
            {{ render_cards(card, len) }}
        </div>
    </div>
</div>
</body>
</html>