{% from 'macros.jinja2' import render_menu %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
{{ render_menu(2) }}
<p>Статистика!</p>
</body>
</html>