table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 3px;
  min-width: 100px
}

div {
  display: -webkit-box;
}

.setter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.representaion {
  display: flex;
  align-items: center;
}